$font__headings: 'Ubuntu', sans-serif, Helvetica, Verdana, Arial;
$font__sans: 'Open Sans', sans-serif, , "Lucida Grande", "Lucida Sans Unicode","Lucida Sans";
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
